<!-- <p>about works!</p> -->

<div class="main" id="about">
  <div class="col-sm-12 col-md-12 heading" data-aos="fade-down">About Me</div>

  <div class="container">
    <div class="row mt-2" data-aos="fade-down">
      <div class="col-md-4 col-sm-10 image mt-4">
        <img src="../../assets/image/DIPU2.jpeg" alt="" />
        <div class="captions">
          <div class="c-name">Anuvab Behera</div>
          >
          <div class="icons">
            <a href="https://www.facebook.com/anuvab.behera/">
              <i class="fab fa-facebook"></i
            ></a>
            <a href="https://github.com/Anuvab-31">
              <i class="fab fa-github-square"></i
            ></a>
            <a href="mailto:anuvabb31@gmail.com">
              <i class="far fa-envelope"></i
            ></a>
            <a href="https://www.linkedin.com/in/anuvab-behera-713b50169/">
              <i class="fab fa-linkedin-in"></i
            ></a>
            <a href="https://www.instagram.com/anuvab_31/">
              <i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 mt-2 paragraph">
        <p>
          Hi I am <span class="s-name">Anuvab Behera</span>, a 22 year old
          Frontend Developer and Flutter Developer living in Bhubaneswar, India.
          I am a Computer Science Engineer, currently, I am working on small projects
          on Angular.<br />
          I have interested in making android apps with beautiful ui and
          passionate about exploring new things.Looking forward to work with an
          organization with good environment and dedicated people which will
          help me to develop my skills and my potential towards the growth of
          the organization.
        </p>
        <a
          href="https://drive.google.com/file/d/1W70uxiIGhzx0CPLQi5X-AAWJKKByRW8n/view?usp=sharing"
        >
          <button class="btn">Resume</button>
        </a>
      </div>
    </div>
  </div>
</div>
