<!-- <p>project works!</p> -->


<div class="main" id="project">
    <div class="col-sm-12 col-md-12 heading">Project</div>

<div class="container">
      <div class="row " data-aos="fade-in">
        <div class="col-md-2"></div>
        <div class=" col-md-4 ">
          <div class="card">
            <div class="card-body">
              <div class="card-heading">Portfolio </div>
              <div class="card-paragraph" >
                  I created this Portfolio website using Html & Css , also with angular framework and beautiful ui with some smooth animation. The motive is to make this project is to familar with the angular framework and exploring the project structure.
            </div>
            <div>
             <a href="https://github.com/Anuvab-31/Catalog-App-with-flutter"><button class="btn">View Source Code</button> </a>
            </div>
            </div>
          </div>
        </div>
        <div class=" col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-heading">Catalog App</div>
              <div class="card-paragraph" >
                I created this Catalog App using Dart language, also with flutter framework and beautiful ui with some smooth animation. The motive is to make this project is to familar with the flutter framework and exploring the project structure.
            </div>
            <div>
             <a href="https://github.com/Anuvab-31/Catalog-App-with-flutter"><button class="btn">View Source Code</button> </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>  
      </div>     
    </div>
</div>