<!-- <p>project works!</p> -->


<div class="main" id="project">
    <div class="col-sm-12 col-md-12 heading" data-aos="fade-in">Project</div>

<div class="container">
      <div class="row " data-aos="fade-in">
        <div class="col-md-2"></div>
        <div class=" col-md-4 ">
          <div class="card">
            <div class="card-body">
              <div class="card-heading">Portfolio </div>
              <div class="card-paragraph" >
                 I created this Portfolio website using HTML&CSS and Angular framework. I have made this beautiful UI using some smooth animation in order to create an appealing user experience. The motive of making this project is to be digging deep into Angular framework and discover other exciting deliverables for us as of a developer perspective.
            </div>
            <div>
             <a href="https://github.com/Anuvab-31/Portfolio"><button class="btn">View Source Code</button> </a>
            </div>
            </div>
          </div>
        </div>
        <div class=" col-sm-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-heading">Catalog App</div>
              <div class="card-paragraph" >
                I created this Portfolio website using Dart and Flutter  framework. I have made this beautiful UI using some smooth animation in order to create an appealing user experience. The motive of making this project is to be digging deep into Flutter  framework and discover other exciting deliverables for us as of a developer perspective.
            </div>
            <div>
             <a href="https://github.com/Anuvab-31/Catalog-App-with-flutter"><button class="btn">View Source Code</button> </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>  
      </div>     
    </div>
</div>
