<!-- <p>home works!</p> -->

<div class="main" id="home">
  <app-header></app-header>
  <div class="text-box container" data-aos="zoom-in">
    <div class="col-md-12 text1" >Hello, My name is</div>
    <div class="col-md-12 text2">ANUVAB BEHERA</div>
    <div class="dynamic-text">
      <div class="col-sm-12 text3">And I am a <span></span></div>
    </div>

    <div class="col-md-12 icons">
      <a href="https://www.facebook.com/anuvab.behera/">
        <i class="fab fa-facebook"></i
      ></a>
      <a href="https://github.com/Anuvab-31">
        <i class="fab fa-github-square"></i
      ></a>
      <a href="mailto:anuvabb31@gmail.com"> <i class="far fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/anuvab-behera-713b50169/">
        <i class="fab fa-linkedin-in"></i
      ></a>
      <a href="https://www.instagram.com/anuvab_31/">
        <i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
